body{
	margin:0;
	font-family: helvetica;
	background-color: yellow;
}

#logo{
	height: 80px;
}

.container{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh
}

.column{
	padding: 20px;
}